* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
    background-color: rgb(241, 241, 241);
}

hr {

    margin: 8px auto 0 auto;
    width:96%;
    opacity: 0.4;


}

a:hover {
    text-decoration: underline;
}

#container {
    width: 100%;
    display: flex;


    padding:100px;
    margin-top: 35px;
    




}

.apresentacao {
    
    padding: 40px;
    height: 600px;
    width:555px;


    box-sizing: border-box;
   

    margin-left: 25px;

}

.apresentacao img{width:300px; margin-left: -25px;}

.apresentacao p {font-size: 28px; margin-top: -15px; line-height: 32px;}


.modal {

   width:370px;
   height: 320px;
   margin-left: 55px;
   
   box-sizing: content-box;      



   background-color: white;
   padding: 10px;

   border-radius: 7px;
   text-align: center;



   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);

   


}
* > form {

    box-sizing: content-box;
    padding: 5px 6px 12px 6px;
    

}


form input {
    width: 358px;
    height: 50px;


    padding:12px;
    margin-bottom: 12px;

    border-radius: 6px;

    outline: none;
    border:none;

    border: 1px solid #e5e5e5;

    
    font-size: 16px;




}


form input[type=submit] {

    background-color: #1877f2;
    color: white;

    font-size: 20px;
    font-weight: bold;
    
    cursor:pointer;


}

form > a {

    text-decoration: none;
    color: #1877f2;
    font-size: 16px;


}


.modal > .btn {

    margin-top: 25px;
    box-sizing: content-box;

    width:158px;
    height: 38px;

    border-radius: 6px;
    border:none;

    font-weight: bold;
    font-size: 17px;

    color: white;
    background-color: rgb(17, 184, 17);

    padding: 5px;

}

.direita .pag {

    display: flex;
    margin-top: 25px;
    margin-left: 50px;

    font-size: 16px;
   
    
}


.pag a {

    margin-right: 5px;
    text-decoration: none;
    color: black;

    font-weight: bold;

}

a, .pag a:hover {
    text-decoration: underline;
}





